<div class="comments_show">
	<div class="comment_container">
	<h2>Conversation</h2>
	<div class="topic_show_area">
		<%= gravatar_for @topic.user, :size => 45 %>
		<%= link_to "#{@topic.user.username}", user_path(@topic.user) %><br \>
		<div class="tshowcomment"><%= @topic.content %></div><br \>
		<div class="topic_show_time">
		Posted <%= time_ago_in_words(@topic.created_at) %> ago.
		</div>
	</div>
	<div class="all_comments">
		<% unless @comments.empty? %>
		<ul class='list' last="<%= @comments.to_a.last.created_at%>">
			<div class="comment">
				<%=render :partial => "comments", :collection => @comments %>
			<div id="infinite-scroll"></div>
			</div>
		</ul>
		<% end %>
	<script>
	$('ul.list').endlessScroll({
	  fireOnce: true,
	  fireDelay: 500,
		ceaseFire: function(){
		  return $('#infinite-scroll').length ? false : true;
		},
		callback: function(){
		  $.ajax({
			  url: '/posts',
			  data: {
				  last: $(this).attr('last')
			  },
			  dataType: 'script'
			});
		}
	});
	</script>
	</div>
	<div class="new_comment">
		<h3>Respond</h3>
		<%= form_for([@topic, @comment]) do |f| %>
			<%= f.text_area :content, :rows => 8 %>
			<%= f.submit "Post", :class => "button" %>
		<% end %>
	</div>
	</div>
	
	<div class="third_part_sources">
		<div class="third_party_on_comments">
		<p><g:plusone size="small"></g:plusone>
		</p>
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	 	<p><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>
	</div>
	</div>
	
</div>