<div class="comments_show">
	<div class="comment_container">
	<h2>Conversation</h2>
	<div class="topic_show_area">
		<%= gravatar_for @topic.user, :size => 45 %>
		<%= link_to "#{@topic.user.username}", user_path(@topic.user) %><br \>
		<div class="tshowcomment"><%= @topic.content %></div><br \>
		<div class="topic_show_time">
		Posted <%= time_ago_in_words(@topic.created_at) %> ago.
		</div>
	</div>
	<div class="all_comments">
		<% unless @comments.empty? %>
		<ul>
		<%  @comments.each do |comment| %>
			<div class="comment">
			<li>
			  <div class="created_at">On <%= comment.created_at.strftime("%B %d, %Y") %></div>
			  	<div class="content"><%= comment.content  %></div>
				<div class="picture"><%= gravatar_for comment.topic.user %></div>
				<div class="c_user"><%= link_to "#{comment.topic.user.username}", user_path(comment.topic.user) %></div>
			</li>
			</div>
		<% end %>
		</ul>
		<% end %>
		<div class="comments_pagination">
			<%= will_paginate @comments %>
		</div>
	</div>
	<div class="new_comment">
		<h3>Respond</h3>
		<%= form_for([@topic, @comment]) do |f| %>
			<%= f.text_area :content, :rows => 8 %>
			<%= f.submit "Post", :class => "button" %>
		<% end %>
	</div>
	</div>
	
	<div class="third_part_sources">
		<div class="third_party_on_comments">
		<p><g:plusone size="small"></g:plusone>
		</p>
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	 	<p><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>
	</div>
	</div>
	
</div>