<div class="edit_user_form">
	<h2>Update Your Account</h2>
	<div class="session_form">
	<%= form_for(@user, :validate => true) do |f| %>
	<div class="session_fields">
		<%= f.text_field :username, :placeholder => "Username*" %>
	</div><br \>
	<div class="session_fields">
		<%= f.text_field :name, :placeholder => "Name*" %>
	</div><br \>
	<div class="session_fields">
		<%= f.email_field :email, :placeholder => "Email*" %>
	</div><br \>
	<div class="session_fields">
		<%= f.text_field :birthday, :placeholder => "Birthday*" %>
	</div><br \>
		<%= f.submit "Update!", :class => "big primary button" %>
	<% end %>
	</div>
</div>