<div class="user_panel">
	<div class="user_picture" title="<%= @user.username %> Gravatar">
		<%= gravatar_for @user, :size => 120 %>
	</div>
	<div class="user_info">
		<% if current_user.profiles.blank? %>
		<ul>
			<li><div class="show_username">
				<%= @user.username %>
				</div>
			</li>
			<li><%= link_to "Expertise", new_profile_path(@user) %></li>
			<li><%= link_to "Type", new_profile_path(@user) %></li>
			<li><div class="show_time">
				Member Since: <%= (@user.created_at).to_date.to_s(:long) %>
				</div>
			</li>
		</ul>
		<% else %>
		<ul>
			<li><div class="show_username">
				<%= @user.username %>
				</div>
			</li>
			<% @user.profiles.each do |p| %>
				<li><%= link_to "#{p.expertise}", edit_profile_path(p) %></li>
				<li><%= link_to "#{p.kind}", edit_profile_path(p) %></li>
			<% end %>
			<li><div class="show_time">
				Member Since: <%= (@user.created_at).to_date.to_s(:long) %>
				</div>
			</li>
		</ul>
		<% end %>
	</div>
	<div class="user_stats">
		<h2>Stats:</h2>
		<ul>
			<li><%= link_to "Is following #{pluralize(@user.following.count, "person")}", '#' %></li>
			<li><%= link_to "Has posted #{pluralize(@user.topics.count, "topic")}", '#' %></li>
			<li><%= link_to "Has commented on #{pluralize(@comments.count, "topic")}", '#' %></li>
		</ul>
	</div>
	<div class="shared_stuff_link">
		<%= link_to "My Shared Folders", uploads_path(@user) %>
	</div>
	<div class="follow_form">
	<% unless current_user?(@user) %>	
		  <div class="follow_form">
		  <% if current_user.following?(@user) %>
		    <%= render 'unfollow' %>
		  <% else %>
		    <%= render 'follow' %>
		  <% end %>
		  </div>
	<% end %>
	</div>
	<div class="bookmarks">
		<h3>Other Sites: <% if current_user?(@user) %> <%= link_to "New", '#', :id => "new_bookmark_button" %><% end %></h3>
		<% unless @user.bookmarks.empty? %>
			<div class="user_bookmarks">
				<ul>
					<div class="favicon">
					<script type="text/javascript">
					$(document).ready(function(){ 
						$('a[href^="http://"]').favicons();
						$('a[href^="https://"]').favicons();
					});
					</script>
					</div>
					<% @bookmarks.each do |b| %>
					<li>
						<strong><%= link_to b.web_name, b.url, :target => "_blank" %></strong>
					</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
	<div class="new_bookmark_form" title="New Link">
		<%= form_for(@bookmark) do |f| %>
		<span>
			<%= f.label :web_name, "Site Name:" %><br \>
			<%= f.text_field :web_name %>
		</span><br \>
		<span>
			<%= f.label :url, "Web address:" %><br \>	
			<%= f.text_field :url %>
		</span>
			<%= f.submit "Post!"%>
		<% end %>
	</div>
</div>