<div class="home">
	<div class="user_creation_panel">
		<h2>New? <em>Sign Up Here</em></h2>
	<%= form_for(@user, :validate => true) do |f| %>
		<div class="session_fields">
			<%= f.text_field :username, :placeholder => "Username*" %>
		</div><br \>
		<div class="session_fields">
			<%= f.text_field :name, :placeholder => "Name*" %>
		</div><br \>
		<div class="session_fields">
			<%= f.email_field :email, :placeholder => "Email*" %>
		</div><br \>
		<div class="session_fields">
			<%= f.password_field :password, :placeholder => "Password*" %>
		</div><br \>
		<div class="session_fields">
			<%= f.password_field :password_confirmation, :placeholder => "Confirm*" %>
		</div><br \>
		<div class="session_fields">
			<%= f.text_field :birthday, :placeholder => "Birthday*" %>
		</div><br \>
			<%= f.submit "Create!", :class => 'create_button' %>
	<% end %>
	</div>
	<h2 id="pitch">Join the Conversation...</h2>
	<div class="home_picture">
		<%= home_picture %>
	</div>
	<div class="third_part_sources">
		<p id="thrd_2"><g:plusone size="small"></g:plusone>
		</p>
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	 	<p id="thrd_3"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>
	</div>
</div>