<div class="mobile_home">
	<ul data-role="listview" data-theme="c">
		<li><%= link_to "Sign In", signin_path %></li>
		<li><%= link_to "Create New", new_user_path %></li>
	</ul>
	<div class="app_photo">
		<%= link_to app_store_logo, '#' %>
	</div>
	<div class="bottom_links">
		<ul>
			<li><%= link_to "About", topicks_path %></li>
			<li><%= link_to "Blog", '#' %></li>
			<li><%= link_to "Resources", '#' %></li>
		</ul>
	</div>
</div>