<% content_for :scripts do %>
		<%= javascript_include_tag "jquery.vticker.js", "jquery.bPopup.js" %>
<% end %>
<div class="home_signed_in">
	<h2><em>Welcome to your Dash...</em></h2>
	<div class="topics_home_panel">
		<a href="<%= grapevine_path %>">
			<div class="bubble_one" title="Grape Vine">
				<%= vine_art %>
				<h2>The Grape Vine</h2>
				<h3><em>Trend Anonymously</em></h3>
			</div>
		</a>
		<a href="#" id="link_one">
			<div class="bubble_two" title="Entertainment">
				<%= movie_art %>
				<h2>Entertainment</h2>
				<h3><em>View the Latest trends in Entertainment</em></h3>
			</div>
		</a>
		<a href="#" id="link_two">
			<div class="bubble_three" title="News">
				<%= news_art %>
				<h2>News</h2>
				<h3><em>View the Latest trends in News</em></h3>
			</div>
		</a>
		<a href="#" id="link_three">
			<div class="bubble_four" title="Events">
				<%= events_art %>
				<h2>Events</h2>
				<h3><em>View the Latest trends in Events</em></h3>
			</div>
		</a>
	</div>
	<div class="start_private_topics_buttons">
		<div class="button-group">
		<%= link_to "New Private", '#', :id => 'new_private', :class => ' big pill primary button' %>
		<%= link_to "Private Topics", ptopics_path(current_user), :class => ' big pill primary button' %>
		</div>
	</div>
	<div class="new_private_form">
		<h2>Start A Private Topic</h2><hr \>
		<div id="p_form">
		<%= form_for(@ptopics) do |f| %>
			<%= f.label :name %>:<br \>
			<%= f.text_field :name %><br \>
			<%= f.label :content %>:<br \>
			<%= f.text_area :content %>
			<%= f.submit "Post", :class => 'submit_button' %>
		<% end %>
		</div>
	</div>
	<script>
	$(document).ready(function(){
	   $("#new_private").bind('click', function(){
	      $(".new_private_form").bPopup();
	      return false
	   });
	});
	</script>
	<h3><em>Some Of Your Topics...</em></h3>
	<div class="your_posts">	
		<ul>
		<% @posts.each do |post| %>
				<li>
					<div class="gravatar">
						<%= link_to (gravatar_for post.user, :size => 45), current_user %>
					</div>
					<div class="topics_content">
						<%= post.content %><br \>
					<div class="topics_time">
						<%= link_to "Threads(#{post.comments.count})", topic_comments_path(post) %>
						Posted <%= time_ago_in_words(post.created_at) %> ago.
					</div>
				</li>
			<% end %>
		</ul>
	</div>
	<script type="text/javascript">
		$(function(){
			$('.your_posts').vTicker({ 
				speed: 1000,
				pause: 3000,
				animation: 'fade',
				showItems: 5
			});
		});
	</script>
	<%= render 'topics_popups' %>
</div>