<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <title><%= title %></title>
    <%= render 'layouts/external_layouts' %>
	<%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>

  <body>
	<div class= "container">
		<header>
		<% if signed_in? %>
	 		<%= render 'layouts/header_one' %>
		<% else %>
			<%= render 'layouts/two_header' %>
		<% end %>
		</header>
	 
	 <div class= "wrapper">
	
	<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "flash #{key}" )%>
		<% end %>
		
		<%= yield %>
	 </div>
     <%= render 'layouts/footer' %>

	 <% if signed_in? %>
	 	<%= render 'layouts/bottom_header' %>
	 <% end %>

	</div>
  </body>
</html>
